.color {
    &-primary {
        color: $color-primary;
    }
    &-success {
        color: $color-success;
    }
    &-light {
        color: $color-light;
    }
    &-white {
        color: white;
    }
    &-grey {
        color: $color-grey;
    }
    &-light-grey {
        color: $color-light-grey;
    }
}

.bg {
    &-grey {
        background-color: #F7F8FA;
    }
}

@for $i from 1 through 10 {
    .opacity-#{$i} {
        opacity: #{$i / 10};
    }
}