$color-primary: #2a3343;
$color-success: #3D83C7;
$color-light: #6B849C;
$color-dark: #17212A;
$color-grey: #4A4A4A;
$color-light-grey: #919CA7;
$color-disabled: #CBCBCB;
$color-sidebar-bg: #212a39;
$color-default-bg: #2a3343;
$page-width: 1280px;
$sidebar-width: 220px;
$top-album-img-size: 50px;
$large-album-img-size: 120px;
$playbar-height: 80px;
$list-track-item-size: 50px;
$album-image-size: 250px;
$navbar-height: 120px;